.side_bar
  .header
    %h3.header__name
      seo
    %ul.header__lists
      %li.list
        / %a{:href => "/group/new"} ...
        = link_to  do
          = fa_icon 'pencil-square-o', class: "fa_icon"
      %li.list
        / %a{:href => "/users/3502/edit"} ...
        = link_to  do
          = fa_icon 'cog', class: "fa_icon"

  .groups
    / 繰り返し部分
    .group
      / %a{:href => "/groups/8732/messages"}
      = link_to  do
        .group__name
          サンプル
        .group__message
          よろしくお願いします
    / 繰り返し部分
